* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-overflow-x: hidden;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f2f2f2;
}

.totalCount {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-10%, #ffb3f0), color-stop(10%, #f3e9f1));
  background: linear-gradient(360deg, #ffb3f0 -10%, #f3e9f1 10%);
  padding: 2% 7%;
}

.logo {
  max-width: 45%;
}

.row {
  margin: auto;
}

.container-panier {
  margin: auto;
}

.container-panier #liste-panier {
  width: 95%;
  margin: 3vmax auto;
  padding: 0;
  font-size: 0.9rem;
}

.container-panier #liste-panier th,
.container-panier #liste-panier tr {
  text-align: center;
  padding-bottom: 5%;
  border-bottom: 1px solid #c0bfbf;
}

.container-panier #liste-panier td {
  margin: 4%;
  border-bottom: 1px solid #c0bfbf;
  width: 4rem;
}

.container-panier #liste-panier td img {
  margin: 6% 0;
  width: 32vmin;
}

.container-panier #liste-panier td .btn-delete-teddy {
  border: none;
  cursor: pointer;
}

.container-panier .empty-cart-message {
  text-align: center;
  margin: 20px;
}

.container-panier .empty-cart-message .empty-cart-message-go-home {
  color: #007185;
}

.container-panier .empty-cart-message .empty-cart-message-go-home:hover {
  border-bottom: 2px solid #007185;
}

.container-panier #empty-cart-gohome {
  font-size: 1rem;
  width: 15rem;
  padding: 12px;
  margin: auto;
  display: block;
  text-align: center;
  background-color: #cccccc;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
}

.display-price-html {
  margin: auto;
  padding: 20px;
  text-align: center;
}

.carticon {
  margin-top: 20px;
  font-size: 6.5vmin;
  position: relative;
}

.carticon .totalCount {
  position: absolute;
  top: 0;
  left: 55%;
  background: #1abe1a;
  font-size: 12px;
  font-weight: bolder;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 4px;
}

ul {
  list-style-type: none;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
}

#container .carte {
  max-width: 80%;
  background-color: #f3e9f1;
  margin: 1.3rem;
  padding: 0.5rem;
  padding-top: 1.2rem;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
}

#container .carte .image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 15px;
}

#container .carte .content {
  text-align: center;
}

#container .carte .content .title {
  margin: 15px;
  font-size: 1.15rem;
}

#container .carte .content .description {
  margin: 10px;
  font-size: 0.8rem;
}

#container .carte .content .price {
  padding: 10px;
  font-size: 0.9rem;
}

#container .carte .content .btn {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 8rem;
  background-color: #bae0f7;
  padding: 12px;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
  font-size: 0.9rem;
}

#container .carte .content .btn:hover {
  cursor: pointer;
}

footer {
  padding: 20px;
  background-color: #f3e9f1;
  text-align: center;
}

.containerproduit {
  padding: 10%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerproduit .image {
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 8%;
}

.containerproduit .info .title {
  font-size: 1.5rem;
  display: block;
  margin: auto;
  text-align: center;
}

.containerproduit .info .description {
  text-align: center;
  font-size: 0.8rem;
  margin: 10%;
}

.containerproduit .info select {
  display: block;
  margin: auto;
}

.containerproduit .info .quantity {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}

.containerproduit .info .price {
  text-align: center;
  padding: 5%;
}

.containerproduit .info .btn-add-to-cart {
  background-color: #bae0f7;
  border-style: none;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
  display: block;
  padding: 12px;
  border-radius: 25px;
  margin: auto;
  cursor: pointer;
}

#order-form {
  max-width: 90%;
  margin: 1.2rem auto;
}

#order-form .forminfo {
  padding: 0.5rem;
}

#order-form .forminfo input {
  width: 100%;
  padding: 1%;
}

#order-form :nth-child(6) {
  margin-bottom: 20px;
}

#order-form #validate-order {
  font-size: 1rem;
  border-style: none;
  width: 15rem;
  padding: 12px;
  margin: auto;
  margin-bottom: 10%;
  display: block;
  text-align: center;
  background-color: #bae0f7;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
}

#order-form #validate-order:hover {
  cursor: pointer;
}

#error {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .logo {
    max-width: 30%;
  }
  #container .carte {
    max-width: 40%;
  }
  .containerproduit .image {
    max-width: 50%;
  }
  .containerproduit .info {
    max-width: 40%;
  }
}

.order-summary {
  font-size: 1.2rem;
  width: 60vw;
  margin: 20% auto;
}

.order-summary p {
  margin: 5%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo {
    max-width: 25%;
  }
  #container .carte {
    max-width: 27%;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    max-width: 20%;
  }
}
/*# sourceMappingURL=main.css.map */