* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-overflow-x: hidden;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  // background-color: #feffe5;
  background-color: #f2f2f2;
}
// .background-image {
//   max-width: 100%;
//   background-position: fixed;
// }
a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  // background-color: #f3e9f1;
  background: linear-gradient(360deg, #ffb3f0 -10%, #f3e9f1 10%);
  justify-content: space-between;
  padding: 2% 7%;
}
.logo {
  max-width: 45%;
}
.panier {
  align-self: center;
  font-size: 1.8rem;
}
ul {
  list-style-type: none;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  & .carte {
    max-width: 80%;
    background-color: #f3e9f1;
    margin: 1.3rem;
    padding: 0.5rem;
    padding-top: 1.2rem;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #bfbfbf;

    & .image {
      object-fit: cover;
      width: 90%;
      display: block;
      margin: auto;
      border-radius: 15px;
    }
    & .content {
      text-align: center;
      & .titre {
        margin: 15px;
        font-size: 1.15rem;
      }
      & .description {
        margin: 10px;
        font-size: 0.8rem;
      }
      & .prix {
        padding: 10px;
        font-size: 0.9rem;
      }
      & .btn {
        display: block;
        margin: auto;
        margin-bottom: 10px;
        width: 8rem;
        background-color: #bae0f7;
        padding: 12px;
        border-radius: 25px;
        box-shadow: 3px 3px 10px #bfbfbf;
        font-size: 0.9rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  padding: 20px;
  background-color: #f3e9f1;
  text-align: center;
}

.containerproduit {
  padding: 10%;
  // background-color: #feffe5;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  & .image {
    box-shadow: 3px 3px 10px #bfbfbf;
    object-fit: cover;
    border-radius: 15px;
    max-width: 100%;
    margin: auto;
  }
  & .info {
    padding-top: 10%;
    & .titre {
      font-size: 1.5rem;
      display: block;
      margin: auto;
      text-align: center;
    }
    & .description {
      text-align: center;
      font-size: 0.8rem;
      margin: 10%;
    }
    & select {
      display: block;
      margin: auto;
    }
    & .quantite {
      max-width: max-content;
      margin: auto;
    }
    & .price {
      text-align: center;
      padding: 5%;
    }
    & .btn-add-to-cart {
      background-color: #bae0f7;
      border-style: none;
      box-shadow: 3px 3px 10px #bfbfbf;
      display: block;
      padding: 12px;
      border-radius: 25px;
      margin: auto;
      cursor: pointer;
    }
  }
}
#formulairepanier {
  max-width: 90%;
  margin: 1.2rem auto;
  & .forminfo {
    padding: 0.5rem;
  }
  & .validercommande {
    display: block;
    margin: 1.4rem auto 2rem auto;
    width: 12rem;
    background-color: #bae0f7;
    padding: 12px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #bfbfbf;
    font-size: 0.9rem;
    border-style: none;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 600px) {
  .logo {
    max-width: 30%;
  }
  #container {
    & .carte {
      max-width: 40%;
    }
  }
  .containerproduit {
    & .image {
      max-width: 50%;
    }
    & .info {
      max-width: 40%;
    }
  }
}

@media screen and (min-width: 768px) {
  .logo {
    max-width: 25%;
  }
  #container {
    & .carte {
      max-width: 27%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    max-width: 20%;
  }
}

@media screen and (min-width: 1200px) {
}
